$bg-color: #d9d2c7;
$wrap-bg-color: #f1f1f1;
$inactive-gray: #d3d3d3;
$text-gray: #a9a9a9;
$standard-color: #4c4c4c;
$default-br: 6px;

$red: #bf7c86;
$green: #88c69b;
$blue: #98afcc;
$yellow: #fcbf5f;

.rw {
  margin: 0 -15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .cl {
    float: left;
    padding: 15px;
    margin: 0;
  }
}

$cols: 12;

@for $i from 1 through $cols {
  .cl-#{$i} {
    width: (100% / $cols * $i);
    max-width: (100% / $cols * $i);
  }
}
