@import "_const.scss";

* {
	box-sizing: border-box;
}

html {
	color: $standard-color;
	font-family: sans-serif;
}
body {
	background-color: $bg-color;
	margin: 0;
	padding: 10px;
}

ul {
	margin: 0;
	padding:0;
}
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.fl-left {
	float: left;
	display: inline-block;
}
.fl-right {
	float: right;
	display: inline-block;
}

.wrapper {
	display: block;
	margin: 40px auto;
	max-width: 1450px;
	min-width: 320px;
	min-height: 650px;
	border-radius: $default-br;
	background-color: $wrap-bg-color;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
}

.left-side-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	background-color: #fff;

	.nav-menu {
		padding: 20px 0;

		.nav-menu__item {
			padding: 50px 0;
			text-align: center;
			width: 100%;
			color: $inactive-gray;
			cursor: pointer;
			transition: all 0.4s;

			&:hover {
				color: $standard-color;
			}
			
			&.active-tab {
				color: $standard-color;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 32px;
					height: 50px;
					width: 3px;
					background-color: $standard-color;
				}
			}
		}
	}
}

.right-content {
	padding: 45px 50px 45px 200px;

	.head-title {
		height: 35px;
		margin-bottom: 30px;

		.select-date-container {
			width: 150px;
			height: 35px;
			border-radius: $default-br;
			display: inline-block;
			background-color: #fff;
		}

		.settings-container {
			display: inline-block;
			background-color: #fff;
			width: 50px;
			height: 35px;
			text-align: center;
			border-radius: $default-br;
			box-sizing: border-box;
			padding-top: 9px;
			cursor: pointer;
			margin-right: 25px;

			i {
				animation-play-state: paused;
			}

			&:hover {

				i {
					animation-play-state: running;
				}
			}
		}

		.user-container {
			display: inline-block;
			background-color: #fff;
			background-image: url(../img/user.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size:cover;
			border-radius: 50%;
			height: 35px;
			width: 35px;
			box-sizing: border-box;
			overflow: hidden;
		}
	}

	.cards-wrap {
		//display: flex;
		//flex-flow: row wrap;
		//justify-content: flex-start;
		//align-items: center;

		.wh-card {
			position: relative;
			background-color: #fff;
			color: $text-gray;
			border-radius: $default-br;

			&_h3 {
				height: 320px;
				padding: 40px;
			}

			&_h2 {
				height: 220px;
			}

			&_h1 {
				height: 100px;
				padding: 38px 20px;

				&:first-child {
					margin-bottom: 20px;
				}
			}

			.cog-settings {
				position: absolute;
				color: $inactive-gray;
				top: 0px;
				right: 0px;
				height: 50px;
				width: 50px;
				cursor: pointer;
				transition: all 0.4s;

				&:after {
					content: '\f013';
					top: 25px;
					right: 25px;
					font-family: FontAwesome;
					position: absolute;
					font-size: 15px;
					transition: all 0.4s;
				}

				&:hover {

					&:after {
						color: $standard-color;
						transform: rotate(90deg);
					}
				}
			}

			&_type-1 {

				.title {
					font-size: 20px;
					transition: all 0.4s;
				}

				.basic-info {

					&__count {
						font-size:60px;
						color: $standard-color;
					}

					&__unit {
						font-size: 22px;
					}
				}

				.schedule {
					height: 100px;
				}

				.supp-info {

					&__row {
						font-size: 20px;
						display: inline-block;
						float: left;
						margin-right: 45px;

						&:last-child {
							margin: 0;
						}

						.data {
							color: $standard-color;
						}
						
						.date {
							
						}
					}
				}


				&.b-red {

					.supp-info {

						&__row {

							.data {
								color: $red;
							}
						}
					}
					
					.cog-settings {
						
						&:hover {
							
							&:after {
								color: $red;
							}
						}
					}

					&:hover {

						.title {
							color: $red;
						}
					}
				}

				&.b-green {

					.supp-info {

						&__row {

							.data {
								color: $green;
							}
						}
					}

					.cog-settings {

						&:hover {

							&:after {
								color: $green;
							}
						}
					}

					&:hover {

						.title {
							color: $green;
						}
					}
				}

				&.b-blue {

					.supp-info {

						&__row {

							.data {
								color: $blue;
							}
						}
					}

					.cog-settings {

						&:hover {

							&:after {
								color: $blue;
							}
						}
					}

					&:hover {

						.title {
							color: $blue;
						}
					}
				}
			}
			
			&_type-2 {
				
				.head-icon-cont {
					text-align: center;
					padding: 20px 0;

					.head-icon {
						display: inline-block;
						height: 30px;
						width:30px;

						&:after {
							content: '\f2c9';
							font-family: FontAwesome;
							font-size: 26px;
							transition: all 0.4s;
						}
					}
				}
				
				.basic-info {
					text-align: center;
					
					.temp-count {
						font-size: 85px;
						color: $standard-color;
						vertical-align: middle;
					}
					
					.temp-unit {
						text-transform: uppercase;
						font-size: 40px;
						vertical-align: middle;
						position: relative;
						padding-left: 13px;

						&:before {
							content: '\f10c';
							font-family: FontAwesome;
							font-weight: bold;
							position: absolute;
							top: 7px;
							left: 0;
							font-size: 14px;
						}
					}
				}

				&.b-yellow {

					.cog-settings {

						&:hover {

							&:after {
								color: $yellow;
							}
						}
					}
					
					&:hover {
						
						.head-icon {

							&:after {
								color: $yellow;
							}
						}
					}
				}
				
			}

			&_type-3 {

			}

			&_type-4 {

				.type-4__side {
					height: 100%;
					width: 50%;
					display: inline-block;

					&_left {
						float: left;
						text-align: left;
					}

					&_right {
						float: right;
						text-align: right;
					}
				}
				
				&.type-lights {
					
				}

				&.type-gas {

				}

				&.type-camera {

				}

				&.type-locks {

				}
			}

			&_type-5 {

			}

		}
	}

}

.custom-checkbox {
	
	input {
		display: none;
	}
	
	.toggle-checkbox-overlay {
		display: inline-block;
		border-radius: 20px;
		width: 50px;
		height: 24px;
		background-color: $green;
	}
	
	
}



@import "_media.scss";

